
@{
    ViewBag.Title = "Chart";
}

<h2>Candidate Chart</h2>

@using (Html.BeginForm("BuildChart", "Dashboard", null, FormMethod.Post))
{


    <div Style="font-family: Corbel; font-size: small ;text-align:center " class="row">
        <div>
            <div style="width:100%;height:100%">
                <canvas id="canvas" style="padding: 0;margin: auto;display: block; "> </canvas>
            </div>
        </div>
    </div>
    <div Style="font-family: Corbel; font-size: small ;text-align:center; " class="row">
        <div>
        </div>
        <div>
        </div>
    </div>


}


    @section scripts {

        <script type="text/javascript" language="javascript">

           
            $(document).ready(function () {

                $.ajax({
                url: "/Dashboard/BuildChart",
                method: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                     success: function (data) {

                    //var color = [
                    //            "rgba(241,28,39,0.1)",
                    //            "rgba(28,145,241,0.1)",
                    //            "rgba(231,221,28,0.1)",
                    //            "rgba(38,231,28,0.1)",
                    //            "rgba(28,231,221,0.1)",
                    //            "rgba(231,228,211,0.1)",
                    //            "rgba(3,1,3,0.1)",
                    //            "rgba(236,176,179,0.1)",
                    //            "rgba(239,107,51,0.1)",
                    //            "rgba(157,51,239,0.1)",
                    //            "rgba(16,82,248,0.1)",
                    //            "rgba(241,28,39,0.1)"];
 
                    ChartData = {};                    
                    ChartData.labels = data.labels;
                        
                    ChartData.datasets = [];
                    for (index = 0; index < data.dataSets.length; index++) {
                        ChartData.datasets.push({});
                        dataset = ChartData.datasets[index];
                        dataset.backgroundColor = data.dataSets[index].backgroundColor; //color[index];
                        dataset.borderColor = data.dataSets[index].borderColor; //color[index]; 
                        dataset.borderWidth = data.dataSets[index].borderWidth;
                        dataset.label = data.dataSets[index].label;

                        dataset.pointRadius = data.dataSets[index].pointRadius;
                        dataset.pointBorderWidth = data.dataSets[index].pointBorderWidth;
                        dataset.pointBackgroundColor = data.dataSets[index].pointBackgroundColor;
                        dataset.pointBorderColor = data.dataSets[index].pointBorderColor;



                        dataset.data = [];
                        ChartData.datasets[index].data = data.dataSets[index].data;
                    }
 
                    var ctx = $("#canvas");
                

                    var options = {
                        responsive: true,
                        maintainAspectRadio: true,
                        legend: { position: 'left' },
                        //title: { display: true, text: 'Chart.js Outcome Graph' },
                        scale: {
                            ticks: { beginAtZero: true, min: 0, max: 100, stepSize: 10 },
                        pointLabels: { fontSize: 18 }
                        },
                        tooltips: {
                            enable: false,
                            mode: 'label',
                            callbacks: {
                                label: function (tooltipItem, data) {
                                    var datasetLabel = data.datasets[tooltipItem.datasetIndex].label || '';
                                    return datasetLabel + ' : ' + tooltipItem.yLabel;
                                }
                            }
                        },
                        scaleOverride: false,
                        scaleSteps: 5,
                        scaleStepWidth: 20,
                        scaleStartValue: 100
                    };

 
                    var myRadar = new Chart(ctx, {
                        type: 'radar',
                        data: ChartData,
                        options: options
                    });
                }                
            });




                //// https://code.tutsplus.com/tutorials/getting-started-with-chartjs-radar-and-polar-area-charts--cms-28444
                //var canvas = document.getElementById("CandidatesChart");

                //Chart.defaults.global.defaultFontFamily = "Lato";
                //Chart.defaults.global.defaultFontSize = 18;

                //var iData = {
                //    labels: ["Wonderlic Cognitive", "Wonderlic Motivation", "Wonderlic Personality",
                //        "Bootcamp Technical", "Bootcamp Self-Learning", "Capstone Score"],
                //    datasets: [
                //        {
                //        label: "Student A",
                //        backgroundColor: "transparent",
                //        borderColor: "rgba(200,0,0,0.6)",
                //        fill: false,
                //        radius: 6,
                //        pointRadius: 6,
                //        pointBorderWidth: 3,
                //        pointBackgroundColor: "orange",
                //        pointBorderColor: "rgba(200,0,0,0.6)",
                //        pointHoverRadius: 10,
                //        data: [65, 75, 70, 80, 60, 80]
                //        },
                //        {
                //        label: "Student B",
                //        backgroundColor: "transparent",
                //        borderColor: "rgba(0,0,200,0.6)",
                //        fill: false,
                //        radius: 6,
                //        pointRadius: 6,
                //        pointBorderWidth: 3,
                //        pointBackgroundColor: "rgba(0,0,200,0.6)",
                //        pointBorderColor: "rgba(0,0,200,0.6)",
                //        pointHoverRadius: 10,
                //        data: [54, 65, 60, 70, 70, 75]
                //        },
                //        {
                //        label: "Student C",
                //        backgroundColor: "transparent",
                //        borderColor: "rgba(159, 34, 20, 0.6)",
                //        fill: false,
                //        radius: 6,
                //        pointRadius: 6,
                //        pointBorderWidth: 3,
                //        pointBackgroundColor: "rgba(159, 34, 20, 0.6)",
                //        pointBorderColor: "rgba(159, 34, 20, 0.6)",
                //        pointHoverRadius: 10,
                //        data: [90, 10, 4, 75, 21, 75]
                //        }]
                //};

                //var chartOptions = {
                //  scale: {
                //    ticks: {
                //      beginAtZero: true,
                //      min: 0,
                //      max: 100,
                //      stepSize: 20
                //    },
                //    pointLabels: {
                //      fontSize: 18
                //    }
                //  },
                //  legend: {
                //    position: 'left'
                //  }
                //};

                //var radarChart = new Chart(canvas, {
                //  type: 'radar',
                //  data: iData,
                //  options: chartOptions
                //});





            });

        </script>
    }